<div id="quiz_detail">
    <label for="quiz_title">QUIZ</label>
    <input type="text" name="quiz_title" id="quiz_title" value="{{quiz.topic}}">
    <label for="quiz_description">Description</label>
    <input type="text" name="quiz_description" id="quiz_description" value="{{quiz.description}}">
</div>

<div id="listofquestion">
    {{#each questions}}
    <div class='question_main show'>
        <div class='slider collapsed'>
            <div class="toggle">
                <div class="question_info">
                    <h1 class="SHOW_question_itself">{{this.question}}</h1>
                    <h1 class="SHOW_question_time">{{this.time}}s</h1>
                    <span>
                        <button class="EDIT_question">Edit</button>
                        <br>
                        <button class="DELETE_question">Delete</button>
                    </span>
                </div>
            </div>
            <div class="question_field">
                <label for="title">Question</label>
                <input type="text" name="question" class="question_itself" value="{{this.question}}">
                <br>
                <label for="title">Time (seconds)</label>
                <select class="question_time">
                    <option value="10" {{checkTIME this.time 10}}>10</option>
                    <option value="15" {{checkTIME this.time 15}}>15</option>
                    <option value="20" {{checkTIME this.time 20}}>20</option>
                    <option value="25" {{checkTIME this.time 25}}>25</option>
                </select>
                <br>
                <div class="answer_field">
                    {{#each this.answers}}
                    <div class="answer_item">
                        <label for="question_answer">Answers</label>
                        <input type="text" name="answer" class="question_answer" value="{{answer}}">
                        <span class="CHECK_correct {{checkCOR correct}}">{{#if correct}}✔️{{else}}❌{{/if}}</span>
                        <button class="DELETE_answer">delete</button>
                    </div>
                    {{/each}}
                </div>
                <br>
                <button class="ADD_answer">+</button>
                <input type="submit" value="Save" name="submit" class="SAVE_question">
            </div>
        </div>
    </div>
    {{/each}}
</div>

<!-- extend question -->
<div id="ADD_question">
    Create Question
    <br>
    <button id="ADD_question">+</button>
</div>

<div>
    <button id="ADD_quiz">sumbit</button>
</div>